@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,500;1,700;1,800;1,900&family=Roboto+Condensed:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "poppins", sans-serif;
    outline: none;
    border:none;  
    text-transform: capitalize;
    transition: all 2s line;
}


html {font-size: 62%;
    overflow-x: scroll;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
body { 
    
    background-size: cover; /*cobrir toda a tela*/
    background-position: center;/*conseguir centralizar a imagem*/
    height: 100vh;
    width: 100%; 
   
}

header {
    width: 100%;
    position: absolute; top: 0; left: 0; right:0;
    display: flex;
    justify-content:space-between;
    text-align: center;
    align-items: center;
    padding: 2rem 7%;
    background-color: rgb(0 0 0);
    z-index: 1000;

} /* este é o cabeçalho todas as configurações de posições das opções para os usuarios estão aqui*/

header .cabeçalho-link {
    cursor: pointer; 
    gap: 2rem;
    display: flex;
    font-weight: 400;
    border-radius: 5rem;
    color:rgb(255, 255, 255);
  
}

header .cabeçalho-link a{
    color: rgb(255, 255, 255);
    font-size: 25px;
    border-radius: 4rem;
    padding: 5rem 1.5rem;
    font-size: 1.7rem;
}
header .cabeçalho-link a.active, 
header .cabeçalho-link a:hover {

    color: rgb(206, 116, 179);
    transition: 0.4s all;
    border-radius: 20px;
    
    
}

button {

    color: rgb(0, 0, 0); 
    padding: 5px;
    width: 150px;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
} /* margem e bordas modificadas, para possuir um formato mais oval, incluindo aqui também a cor preta para as letras*/

    button:hover{
        background-color: rgb(114, 27, 172);
        color:white;
    } /* quando o usuario passar o cursor em cima de cada opção, ele mudará de cor*/

   header .logo i {/*para pode adicionar a logo do meu site*/
    height: 120px;
    width: 50px;
    border: 5px solid rgb(0, 0, 0);
    display: inline-flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    background-position: left center;
    
    }
    #search-form{
        display: flex;
        padding:0 1rem;
        position: fixed;
        top:-109%; left:0; 
        height:100%; width:100%;
        z-index: 1005;
        background:rgba(0,0,0,.8);
        align-items: center;
        justify-content: center;
        
    }
    
    #search-form.active{
        top:0;
    }
    
    #search-form #search-box{
        width:48rem;
        padding:2rem 0;
        font-size: 3rem;
        color:rgb(25, 0, 255);
        background:none;
        text-transform: none;
        border-bottom: .1rem solid #fff;
    }
    
    #search-form #search-box::placeholder{
        color:rgb(192, 191, 191);
    }
    
    #search-form #search-box::-webkit-search-cancel-button{
        -webkit-appearance: none;
    }
    
    #search-form label{
        cursor:pointer;
        color:#fff;
        font-size: 3rem;
    }
    
    #search-form label:hover{
        color:var(--green);
    }
    
    #search-form #close{
        top: 3rem; right:4rem;
        position: absolute;
        color:#fff;
        cursor: pointer;
        font-size: 5rem;
    }
    

    .icons {
    cursor: pointer; 
    gap: 1rem;
    display: flex;
    font-weight: 500;
    border-radius: 5rem;
    color:aliceblue;
   
    }

    header .icons i,
    header .icons a {

        cursor: pointer;
        margin-left: 5rem;
        height: 4.5rem;
        width: 4.5rem;
        text-align: center;
        font-size: 20px;
        color: rgb(0, 0, 0);
        border-radius: 50%;
        background: white;
        padding: 5rem, 1.5rem;
        line-height: 4.5rem;
        

    }
    header .icons i:hover,
    header .icons a:hover {
        color: rgb(196, 193, 193);
        background: var(red);
        transform: rotate(360deg);
        border-radius: 20px;
        transition: 0.5s all;

    }
    

     .wraper { background-position: center;
        height: auto;
        width: 50%;
        margin: 0 auto;
        display: flex;
        overflow: hidden;
      }
      .scroller {
        display: flex;
        width: 100%;
        animation: slidy 9000ms infinite;
      }
      .wraper .scroller img {
        min-width: calc(100% / 3);
        flex: 1;
        padding: 0 .5rem;
      }



      @keyframes slidy {
       0%{margin-left:0%;}
      20%{margin-left:0%;}
      
      25%{margin-left:-100%;}
      45%{margin-left:-100%;}
      
      50%{margin-left:-200%;}
      70%{margin-left:-200%;}
      
      75%{margin-left:-100%;}
      95%{margin-left:-100%;}
      
      100%{margin-left:0%;}
      }
      
   @media (max-width:991px) {
    
        html {font-size: 55%; 
        }
           header {
            padding: 1rem, 2rem;
           }
        
        }
        @media (max-width:768px) {
        header .icons #menu-bars {
            display: inline-block;
        }
        header .cabeçalho-link{
            position: absolute;
            top: 100%; left: 0; right: 0;
            background: whitesmoke;
            border-top: 1rem solid black;
            border-bottom: 1rem, black ;
            padding: 1rem;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        }
        header .cabeçalho-link:active {
        
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        
        
         header .cabeçalho-link a{
            display: block;
            padding: 1.5rem;
            margin: 1rem;
            font-size: 2.5rem;
            background: whitesmoke;
        
        }
        #search-form #search-box {
            width: 90%;
            margin: 0 1.2rem;
        }
        }
        @media (max-width:991px) {
            html{
                font-size: 55%;
            }
            header{
                padding: 1rem 2rem;
            }
        }

        .thiago {
            width: 500px;
            height: 500px;
        }
